*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.contenedor{
    Overflow-x: Hidden;
    background-color: rgb(34, 25, 7);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px auto auto auto auto 100px;
    grid-template-areas: "nav nav nav nav nav"
                         "header header header header header"
                         "main main main main main"
                         "aside aside aside aside aside"
                         "aside2 aside2 aside2 aside2 aside2"
                         "footer footer footer footer footer";
                        
}
/*Barra de navegación*/

.navegacion{
    grid-area: nav;
    background-color: rgb(6, 5, 1);
    display: flex;
    justify-content: end;
}
.navegacion ul{
    list-style: none;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion ul li{
    display: inline-block ;
    font-size: 20px;
    color: whitesmoke
}
/*Banner principal*/

.encabezado{
    grid-area: header;
}
#videointro{
    position: sticky;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
    background-size: cover;
}

/*Contenido de la web*/

.principal{
    grid-area: main;
    row-gap: 20px;
    margin: 130px;
    padding: 50px;
    text-align: justify;
    color: whitesmoke;
}
.principal__titulo{
    margin: 50px;
    text-align: center;
    animation-name: aparecer ;
    animation-duration: 8s;
    animation-iteration-count:infinite
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.img{
    transition: all 1s;
}
.img:hover{
    width: 300px;
    transform: translate(0px, -20px);
}
.btn{
    width: 100px;
    background-color: peru;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

/*Banner de costado*/

.secundario{
    grid-area: aside;
    background-color: white;
        
}
.secundario__titulo{
    text-align:center;
    padding: 110px;
    margin: 50px;
    animation-name: aparecer ;
    animation-duration: 6s;
    animation-iteration-count:infinite
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}    
.aside2{
    grid-area: aside2;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.aside2__titulo{
    text-align:center;
    padding: 80px;
    margin: 50px;
    animation-name: aparecer ;
    animation-duration: 6s;
    animation-iteration-count:infinite
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

/*pie de pagina*/

footer{
    grid-area: footer;
    width: 100%;
    height: 300px;
    background-color: rgb(6, 5, 1);
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}
