*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.contenedor{
    Overflow-x: Hidden;
    background-color: rgb(34, 25, 7);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px auto auto auto auto 100px;
    grid-template-areas: "nav nav nav nav nav"
                         "header header header header header"
                         "main main main main main"
                         "aside aside aside aside aside"
                         "aside2 aside2 aside2 aside2 aside2"
                         "footer footer footer footer footer";
                        
}
/*Barra de navegación*/

.navegacion{
    grid-area: nav;
    background-color: rgb(6, 5, 1);
    display: flex;
    justify-content: end;
}
.navegacion ul{
    list-style: none;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion ul li{
    display: inline-block ;
    font-size: 20px;
    color: whitesmoke
}
/*Banner principal*/

.encabezado{
    grid-area: header;
}
#videointro{
    position: sticky;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
    background-size: cover;

}